{% extends "base.html" %}
{% import 'base_newick_tools.html' as nwt %}

{% block title %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<form id="lgForm" method="post" enctype="multipart/form-data" class="form-contact">
    <div class="gap-2 d-flex flex-row justify-content-center h-50 w-100 text-center">
        <div class="container gap-2 d-flex flex-column h-75 w-100 mx-3">
            {{nwt.gl_matrix(parameter_name, state_frequency)}}
        </div>
    </div>
    <div class="d-flex gap-2 flex-row text-center w-100 justify-content-center">
        <div id="resultTable" class="h-100 w-100">
        </div>
    </div>
</form>
{% endblock %}
{% block messages %}
{{ super() }}
{% endblock %}
