{% extends "base.html" %}
{% import 'base_newick_tools.html' as nwt %}

{% block title %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<form id="newickForm" method="post" enctype="multipart/form-data" class="form-contact">
    <div class="gap-2 d-flex flex-row justify-content-start h-50 w-100 text-center">
        <div class="container gap-2 d-flex flex-column h-75 w-50 mx-3">
            <label for="dnaLength">please provide length of the DNA sequence</label>
            <input value="{{dna_length}}" id="dnaLength" name="dnaLength" type="number"
                   min="4" max="100000" step="1" class="form-control rounded-pill"/>
            <label for="simulationsCount">please provide count of the simulations</label>
            <input value="{{simulations_count}}" id="simulationsCount" name="simulationsCount" type="number"
                   min="100" max="1000000" step="1" class="form-control rounded-pill"/>
            <label for="eventsCount">please provide count of the events</label>
            <input value="{{events_count}}" id="eventsCount" name="eventsCount" type="number"
                   min="10" max="100" step="1" class="form-control rounded-pill"/>
            <div class="gap-2 d-flex h-auto my-3">
                <input id="theButton" name="simulateButton" type="button" class="form-control btn btn-light rounded-pill"
                       value="simulate multiple insertion and deletion events and calculate statistics" onclick="calculateChangeDNALengthStatistics()"/>
            </div>
        </div>
        <div class="d-flex gap-2 flex-column text-end w-50 justify-content-start mx-3 my-5">
            <div id="result" class="container gap-2 d-flex h-50">
                {{nwt.loaderGrow()}}
                {{nwt.loaderCube()}}
                {{nwt.loaderSpinner()}}
                {{nwt.alerts()}}
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block messages %}
{{ super() }}
{% endblock %}
