{% extends "base.html" %}
{% import 'base_newick_tools.html' as nwt %}

{% block title %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<form id="newickForm" method="post" enctype="multipart/form-data" class="form-contact">
    <div class="gap-2 d-flex flex-row justify-content-start h-50 w-100 text-center">
        <div class="container gap-2 d-flex flex-column h-75 w-50 mx-3">
            {{nwt.dna_sequences_simulation(dna_length, branch_length, repetition_count)}}
            <div class="gap-2 d-flex h-auto my-3">
                <input id="theButton" name="generateButton" type="button" class="form-control btn btn-light rounded-pill"
                       value="simulate DNA sequences and compute the average distance with using the Jukes-Cantor model" onclick="computeAverageDistance(1)"/>
            </div>
        </div>
        <div class="d-flex gap-2 flex-column text-end w-50 justify-content-start mx-3 my-5">
            <div id="result" class="container gap-2 d-flex h-50">
                {{nwt.loaderGrow()}}
                {{nwt.loaderCube()}}
                {{nwt.loaderSpinner()}}
                {{nwt.alerts()}}
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block messages %}
{{ super() }}
{% endblock %}
