{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<div class="container">
    <div class="form-label row-cols-xl-5">
        This is the home page of the site with the results of completing exercises in Python, Flask, HTML and JavaScript
    </div>
</div>
{% endblock %}
{% block messages %}
{{ super() }}
{% endblock %}
